<a href="https://colab.research.google.com/github/crzysab/Projek-DQLab/blob/main/Data_Quality_with_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import Modules

In [1]:
import pandas as pd
import numpy as np
import io
import pandas_profiling

Membaca Data

In [2]:
retail_raw = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/retail_raw_reduced_data_quality.csv')

In [3]:
# Cetak tipe data di setiap kolom retail_raw
retail_raw.dtypes

order_id         int64
order_date      object
customer_id      int64
city            object
province        object
product_id      object
brand           object
quantity       float64
item_price     float64
dtype: object

In [4]:
retail_raw.head()

   order_id  order_date  customer_id  ...    brand quantity item_price
0   1703458  17/10/2019        14004  ...  BRAND_J     10.0   740000.0
1   1706815  24/10/2019        17220  ...  BRAND_R      2.0   604000.0
2   1710718  03/11/2019        16518  ...  BRAND_C      8.0  1045000.0
3   1683592  19/08/2019        16364  ...  BRAND_A      4.0   205000.0
4   1702573  16/10/2019        15696  ...  BRAND_R      2.0        NaN

[5 rows x 9 columns]

Descriptive Statistics - Part 1

In [5]:
# Kolom city
length_city = len(retail_raw['city'])
print('Length kolom city:', length_city)

Length kolom city: 5000

In [6]:
# Kolom product_id
length_product_id = len(retail_raw['product_id'])
print('Length kolom product_id:', length_product_id)

Length kolom product_id: 5000